html {
  --scrollbarBG: #e3e3e3;
  --thumbBG: #FFE81F;
}
body::-webkit-scrollbar {
  width: 13px;
}
body {
  max-width: 1400px;
	margin: 0 auto !important; 
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 2.5px solid var(--scrollbarBG);
}

::selection {
  background-color: #F8C8DC;
}

body {
  margin: 0;
  font-family: Helvetica;
  background-color: whitesmoke;
}

/* Heading Styles */

.header-div-body {
  background-color: black;
  opacity: .87;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  z-index: 10;
}

.left-icon {
  color: whitesmoke;
  padding: 20px;
  width: 30px;
  height: 30px;
}

h1 {
  font-size: 46px;
}

.burger-button {
  background-color: transparent;
  color: whitesmoke;
  padding: 20px;
  font-size: 60px;
  text-align: center;
  cursor: pointer;
  border: none;
  margin-right: 3rem;
}

/* Menu Styles */

.menu-body-div {
  background-color: whitesmoke;
  margin: 5rem;
}

.menu-span {
  padding-top: 2rem;
}

.about-text {
  font-size: 46px;
  font-weight: bold;
  cursor: pointer;
  width: 224px;
  margin: 30px;
  padding: 4px 8px;
  border: 1px dotted whitesmoke;
}
.about-text:hover {
 color: #F8C8DC;
 border: 1px dotted #101820;
}

.menu-links {
  text-decoration: none;
  color: #101820;
}

.about-text-hidden {
  font-size: 46px;
  font-weight: bold;
  cursor: pointer;
  width: 224px;
  margin: 30px;
  padding: 4px 8px;
  border: 1px dotted whitesmoke;
  transition: all .5s ease-in-out;
}
.about-text-hidden:hover {
  color: #F8C8DC;
  border: 1px dotted #101820;
  transition: all 3s ease-in-out;
}

.menu-links-hidden {
  color: whitesmoke;
  text-decoration: none;
  transition: all .5s ease-in-out;
}
.menu-links-hidden:hover {
  color: #F8C8DC;
  transition: all 3s ease-in-out;
}

/* Menu Header Styles */

.menu-header-div-body {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background-color: whitesmoke;
  z-index: 10;
  width: 100%;
  height: 5rem;
  top: 0;
  opacity: 98%;
}

.menu-header-button {
  background-color: whitesmoke;
  color: #101820;
  padding: 20px;
  margin-right: 10rem;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  
}

/* Landing Styles */

.landing-div-body {
  width: 100%;
  height: 26rem;
  margin: 5rem auto;
  background-color: whitesmoke;
  display: block;
}

.landing-text-div {
  padding: 64px;
}

.title {
  font-size: 56px;
  padding: .5rem;
  text-align: center;
  margin: 0;
  cursor: default;
  letter-spacing: 12px;
}

.undertext {
  /* margin: 0; */
  padding: 12px;
  text-align: center;
}

#under-line {
  color: #18272F;
  position: relative;
  text-decoration: none;
  text-align: center;
  line-height: 40px;
}
#under-line::before {
  content: '';
  position: absolute;
  width: 370px;
  height: 3px;
  background-color: #18272F;
  bottom: 0;
  left: auto;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform .8s ease-in-out;
}
#under-line:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  text-align: center;
}

.else-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* WorkBody Styles */

.workbody-body-div {
  background-color: #dfdfdf;
  border-radius: 8px;
  width: 90%;
  height: 40rem;
  margin: 6px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  justify-content: space-evenly;
  align-items: flex-end;
}

.bio-div {
  width: 90%;
  height: 10rem;
  background-color: #FFE81F;
  margin: 16px auto;
  display: flex;
  align-items: center;
}

.bio-name {
  text-align: center;
  font-weight: lighter;
  font-size: 156px;
  padding: 8px;
  margin: 0;
  cursor: default;
}

.bio-div-text {
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  line-height: 20px;
  cursor: default;
}

.shape {
  width: 180px;
  height: 120px;
  margin:0 auto;
  background-color: whitesmoke;
  border-radius: 25px;
  display: block;
  line-height: 6px;
}

#lines {
  font-size: 10px;
  text-align: center;
  margin: 0 auto;
  padding: 6px;
  cursor: default;
}

#binary {
  font-size: 6px;
  text-align: center;
  margin: 0 auto;
  padding: 9px;
  cursor: default;
}

.tag {
  color: #101820;
}
.link {
  color: #101820;
  font-size: 12px;
  padding: 20px;
  text-align: end;
  cursor: default;
}

/* Samples Styles */

.samples-body-div {
  width: 90%;
  height: 45rem;
  margin: 6px  auto;
  border: 1px dotted #101820;
  border-radius: 8px;
  overflow: auto;
}

.samples-text {
  margin-left: 2rem;
  cursor: default;
}

.sample-h1 {
  margin-bottom: 2rem;
  padding: 0;
}

.sample-work-div {
  width: 80%;
  height: 20rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  /* overflow: hidden; */
}

.sample-work-example {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #101820;
  background-color: #101820;;
  overflow: hidden;
}

.project-1 {
  width: 300px;
  height: 200px;
  transition: all .15s ease-in-out;
}
.project-1:hover {
  background-color: #5c6166;
  opacity: 60%;
  cursor: pointer;
  transition: all .15s ease-in-out;
}


/* Extra Styles */

.extra-body-div {
  background-color: whitesmoke;
  width: 90%;
  height: 20rem;
  border-radius: 8px;
  border: 1px dotted #101820;
  margin: 6px  auto;
}

.palette-text {
  margin: 4px 8px;
}

.extra-stuff-div {
  display: flex;

}

.outer {
  width: 45px;
  height: 45px;
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin: 0px 6px;
}

.inner {
  width: 25px;
  height: 25px;
  background-color: #101820;
  border-radius: 50%;
  margin: 0 auto;
  transition: all .5s ease-in-out;
}
.inner:hover {
  width: 40px;
  height: 40px;
  transition: all .25s ease-in-out;
  cursor: pointer;
}

.txt-div {
  width: 400px;
  border: 2px solid #101820;
  border-radius: 25px;
  margin: 1rem auto;
  cursor: default;
}

#txt {
  text-align: center;
  font-size: 52px;
}


/* Footer Styles */

.footer-body-div {
  background-color: whitesmoke;
  width: 90%;
  height: 5rem;
  border-radius: 8px;
  margin: 6px  auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}

.copy {
  font-size: 8px;
  padding: 8px;
  cursor: default;
}


/* Random Styles */

.random-body-div {
  background-color: whitesmoke;
  width: 90%;
  height: 5rem;
  border-radius: 8px;
  margin: 6px  auto;
  text-align: center;
}

.random-text {
  font-weight: lighter;
  font-size: 36px;
}



/* Extra Styles */

.bio-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  size: 100%;
}


